.ap-font-base {
    font-family: var(--ap-font-base);
}

.ap-font-brand {
    font-family: var(--ap-font-brand);
}

.ap-font-brand-light {
    font-family: var(--ap-font-brand);
    font-weight: 300;
}

.ap-font-brand-strong {
    font-family: var(--ap-font-brand);
    font-weight: 800;
}

.ap-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ap-grid {
    border: none;
}

.ap-grid table {
    border-collapse: collapse;
}

.ap-grid tr.z-row td.z-row-inner,
.ap-grid tr.z-row,
.ap-grid div.z-grid-body div.z-cell,
.ap-grid div.z-grid{
    zoom: 1;
    background: transparent;
    border: none;
}

.ap-window-modal-actions {
    margin-top: 7px;
    text-align: right;
}

.ap-window-modal-actions button {
    margin-left: 4px;
}

.ap-form table td:first-child .z-row-content {
    text-align: right;
}

.ap-form table td:first-child .z-label {
    font-weight: 600;
}

.ap-stateful-button input {
    display: none;
}

.ap-action-sep {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 3px;
    width: 2px;
    height: 22px;
    border-right: 1px solid var(--ap-c-grey-minor);
    border-left: 1px solid white;
    vertical-align: middle;
}

.z-window-modal .ap-form {
    margin: 4px 0 0 0 !important;
}

.z-window-modal .ap-form .z-row td:first-child .z-row-content{
    margin: 0 0 0 4px !important;
}

.z-window-modal .ap-form .z-row td:last-child .z-row-content{
    margin: 0 4px 0 0 !important;
}

.ap-window-footer-actions {
    background-color: var(--ap-c-bg-lighter) !important;
    border-top: 1px solid var(--ap-c-grey-light-5) !important;
}

.ap-window-footer-actions .z-row-content {
    padding: 8px;
}

.ap-window-footer-actions .z-button {
    margin-left: 4px;
}

.ap-footnotes {
    font-weight: normal !important;
    color: var(--ap-c-sunset-dark-2);
}

/* Forced scroll */

.ap-forced-scroll .z-listbox-body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.ap-forced-scroll .z-listbox-body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--ap-c-scroll);
}

/* Hidden element */
.ap-hidden {
    display: none;
}